* {
    font-family: 'Nunito Sans', sans-serif;
}
.register{
    width: 100vw;
    height: 100 vh;
    background-image: linear-gradient(#b0d9ec, #4abdac);
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: row;
}

.registerWrapper{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.registerDesc{
    display: flex;
    justify-content: left;
    color: whitesmoke;
    font-weight: 300;
}

.registerLogo{
    font-size: 50px;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;

}

.registerBox{
    height: 300px;
    padding: 20px;
    background-color:#64beca;
    border-radius: 10px;
}

.registerInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18 px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.registerInput:focus{
    outline: none;
}

.registerBtn{
    cursor: pointer;
    border-radius: 10px;
    color: white;
    background-color: #b0d9ec;
    font-weight: 500;
}